<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for('static',filename='css/main.css' ) }}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body style="background-image: url({{ url_for('static', filename='images/osu!triangles-tile-222@2x.png') }})">
    <div class='container'>
        <img src={{ url_for('static',filename='images/ANZT8S_logo.png' ) }} class='image' alt="">
        <div class='box'>
            {% if success %}
                <div class="checkmark-container">
                    <div class="checkmark"></div>
                </div>
                <p>{{message}}</p>
            {% else %}
                <div class="cross-container">
                    <div class="cross"></div>
                </div>
                <p>{{message}}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>