<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for('static',filename='css/main.css' ) }}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <video class="bg-video" autoplay muted loop playsinline>
         <source src={{ url_for('static', filename='videos/background.webm') }}>
    </video>

    <div class="overlay"></div>

    <div class='container'>
        <img src={{ url_for('static', filename='images/logo.png') }} class="logo-image" alt="" />
        <img src={{ url_for('static', filename='images/logo-pt-2.png') }} class="logo-pt-2-image" alt="" />
        
        <div class='box'>
            {% if success %}
                <div class="checkmark-container">
                    <div class="checkmark"></div>
                </div>
                <p>{{message}}</p>
            {% else %}
                <div class="cross-container">
                    <div class="cross"></div>
                </div>
                <p>{{message}}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>